<h3>Creating New Entry</h3>

<form method="post" action="/">
  <input name="entry[author]"     placeholder="Author's Name" type="text">
  <input name="entry[photo_url]"  placeholder="Photo URL"     type="text">
  <input name="entry[date_taken]" placeholder="date_taken"    type="text">
  <input name="entry[caption]"    placeholder="caption"       type="text">
  <input type="submit">
</form>
