<div class="entry">
  <div class="entry-info">
    <span><%= @entry.author %></span>
    <span><%= @entry.date_taken %></span>
  </div>
  <img class="entry-photo" src="<%= @entry.photo_url %>">
  <div class="entry-links">
    <a href="#">Edit</a>
    <a href="#">Delete</a>
  </div>
</div>
