body {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 18px;
  color: #55ACEE;
  background-color: #F5F8FA;
}

.container {
  width: 50%;
  margin: 0 auto;
}

header {
  margin-bottom: 2em;
}

h1 {
  text-align: center;
}

h1 a {
  color: #55ACEE;
  text-decoration: none;
}

.new-post {
  display: table;
  margin: 0 auto;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  background-color: #55ACEE;
  color: white;
}

.entry {
  margin-bottom: 3em;
  border: 5px white solid;
  border-radius: 10px;
  padding: 1em;
}

.entry-header, .entry-edit-delete {
  display: block;
}

.entry-header {
  margin-bottom: 1em;
}

.entry-header > span {
  display: block;
}

.entry-header span:nth-child(2) {
  font-size: 0.7em;
}

.posted-by {
  font-weight: 100;
  color: black;
}

.entry-photo {
  width: 100%;
  border-radius: 10px;
}

.entry-edit-delete {
  margin-bottom: 1em;
}

.entry-edit-delete a {
  float: left;
  display: inline-block;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  font-size: 0.8em;
  line-height: 20px;
  color: white;
  background-color: #55ACEE;
}

.entry-edit-delete button {
  float: right;
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 0 6px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", Helvetica, sans-serif
  font-size: 2em;
  line-height: 20px;
  color: white;
  background-color: #55ACEE;
}

.comments-container {
  display: block;
  margin-top: 2em;
}

.comment {
  font-size: 12px;
  border-bottom: 2px white solid;
  padding-bottom: 1em;
}

.comment p {
  margin-bottom: 0.5em;
  color: black;
}

.comment > span {
  display: block;
}
